body {
  margin: 0;
  font-family: 'Comfortaa', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: 'Comfortaa', cursive;
}

.font-2 {
  font-family: 'Source Serif Pro', serif;
}
